.client {
  text-align: center;
  
  p {
    width: 200px;
    margin: 0 auto;
  }
}

.client__form {
  input[type="text"] {
    text-align: center;
    border: none;
    border-bottom: 2px solid #fff;
    width: 200px;
    background: transparent;
    color: white;
  }

  input[data-invalid="true"] {
    border-bottom: 2px solid #ff2600;
  }

  input {
    display: block;
    clear: both;
    margin: 20px auto;
  }
}

.client__button button {
  display: block;
  clear: both;
  margin: 20px auto;
}

.client__state span, .question {
  font-size: 24px;
}

.question {
  display: block;
  clear: both;
}