.client {
  text-align: center;
}

.client__form {
  input {
    text-align: center;
    border: none;
    border-bottom: 2px solid #fff;
    width: 200px;
    background: transparent;
    color: white;
  }
  
  input[type=submit] {
    display: none;
  }
}

.question {
  display: block;
  clear: both;
}