.game__url {
  color: $special;

  span {
    font-size: 24px;
  }
}

.game__players {
  width: 30%;
  float: left;
}

.game__canvas {
  width: 70%;
  float: left;
}

canvas {
  border: 2px solid #fff;
}

.player span {
  display: inline-block;
  margin-left: 25px;
  color: #fff;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 5px;
}