.game__url {
  color: $special;

  span {
    font-size: 24px;
  }
}

.game__players {
  width: 30%;
  float: left;
}

.game__canvas {
  width: 70%;
  float: left;
}

canvas {
  border: 2px solid #fff;
}

.player span {
  display: inline-block;
  margin-left: 25px;
  color: #fff;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 5px;
}

.nav {
  text-align: center;
  font-size: 34px;

  li {
    margin: 30px 0;
  }
}

a {
  color: #fff;
  text-decoration: none;

  &:hover, &:active {
    color: #00fdff;
  }
}