.game__url {
  color: $special;

  span {
    font-size: 24px;
  }
}

.game__players {
  width: 30%;
  float: left;
}

.game__canvas {
  width: 70%;
  float: left;
}

canvas {
  border: 2px solid #fff;
}

.player__status {
  color: #fff;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 5px;
}

.nav {
  text-align: center;
  font-size: 34px;

  li {
    margin: 30px 0;
  }
}

a {
  color: #aaa;
  text-decoration: none;

  &:hover, &:active {
    color: #00fdff;
  }
}

.game__players {
  table {
    margin: 0;
  }

  .player__status {
    text-align: center;
  }
}

.game__canvas {
  position: relative;
  text-align: center;
}

.game__overlay {
  position: absolute;
  top: 200px;
  bottom: 200px;
  left: 0;
  right: 0;
  background-color: #001916;
  opacity: 0.8;
  box-sizing: border-box;
  padding: 20px 0;
}