<h2>lobby</h2>

<div class="lobby__players">
    <h3>players</h3>
    <ul>
        <li class="player" style="color: {{ player.color }};" ng-repeat="(id, player) in game.players track by id">
            {{ player.name }} <span style="background: {{ player.color }};">{{ player.ready ? 'ready' : 'standby' }}</span>
        </li>
    </ul>
</div>

<div class="lobby__buttons">
    <div class="game__url">Navigate to <span>/{{ game.url }}</span> to join this game!</div>
    <button class="lobby__button-start" ng-click="startGame()" ng-disabled="!game.allPlayersReady()">{{ game.allPlayersReady() ? 'start!' : 'wait...' }}</button>
</div>