<div class="instructions">
    <h2>How to play</h2>

    <p>This game requires a computer,<br/>and at least two mobile devices to play.</p>

    <ul>
        <li>1. create a new game on a computer</li>
        <li>2. turn your mobile device sideways</li>
        <li>3. on your mobile device, navigate to the game url, provided by the new game</li>
        <li>4. fill out your name</li>
        <li>5. wait until all players are ready</li>
        <li>6. use your mobile device as a stearing wheel to control your kurve</li>
        <li>7. don't collide with borders or trails left by the kurves</li>
        <li>8. the last kurve alive wins</li>
    </ul>
</div>