<div class="instructions">
    <h2>How to play</h2>

    <p><a ui-sref="home">back</a></p>

    <p>This game requires a computer,<br/>and at least two mobile devices to play.</p>

    <ul>
        <li><span>#</span> create a new game on a computer</li>
        <li><span>#</span> turn your mobile device sideways</li>
        <li><span>#</span> on your mobile device, navigate to the game url, provided by the new game</li>
        <li><span>#</span> fill out your name</li>
        <li><span>#</span> wait until all players are ready</li>
        <li><span>#</span> use your mobile device as a stearing wheel to control your kurve</li>
        <li><span>#</span> don't collide with borders or trails left by the kurves</li>
        <li><span>#</span> the last kurve alive wins</li>
    </ul>
</div>