doctype html

head
	link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Nunito:700")
	link(rel="stylesheet", href="css/main.css")

body(ng-app="kurves")

	.wrapper
		h1
			span.span1 k
			span.span2 u
			span.span3 r
			span.span4 v
			span.span5 e
			span.span6 s

		.game
			ui-view

	script(src="js/bower_components/socket.io-client/socket.io.js")
	script(src="js/bower_components/angular/angular.js")
	script(src="js/bower_components/angular-ui-router/release/angular-ui-router.js")
	script(src="js/game/app.js")
	script(src="js/game/controllers/game.js")
	script(src="js/game/services/game.js")
	script(src="js/game/services/player.js")
	script(src="js/game/services/socket.js")
	script(src="js/game/services/utils.js")