doctype html

head
	meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
	link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Nunito:700")
	link(rel="stylesheet", href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css")
	link(rel="stylesheet", href="css/main.css")

body
	h1
		span.span1 k
		span.span2 u
		span.span3 r
		span.span4 v
		span.span5 e
		span.span6 s

	.client
		h2 #{message}

		p head over to<br/> kurves.herokuapp.com<br/> to create a new game