doctype html

head
body
	h1 Make it rain!

	form
		input#textFieldGame(type="text")
		input#submitButtonGame(type="submit", value="Set game!")

	h2#game

	h3#player

	form
		input#textField(type="text")
		input#submitButton(type="submit", value="Chat!")

	script(src="js/bower_components/socket.io-client/socket.io.js")
	script(src="js/player/main.js")