doctype html

head
	meta(name="viewport", content="width=device-width")
body
	h1 Make it rain!

	form
		input#textFieldGame(type="text")
		input#submitButtonGame(type="submit", value="Set game!")

	h2#game

	h3#player

	#deviceorientation

	script(src="js/bower_components/socket.io-client/socket.io.js")
	script(src="js/player/main.js")