doctype html

head
	meta(name="viewport", content="width=device-width")
body
	h1 Make it rain!

	h2#game

	h3#player

	form#formPlayer
		input#playerName(type="text")
		input(type="submit")

	button#readyButton Ready!

	#deviceorientation

	script(src="js/bower_components/socket.io-client/socket.io.js")
	script(src="js/player/main.js")