doctype html

head
	meta(name="viewport", content="width=device-width")
	link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Nunito:700")
	link(rel="stylesheet", href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css")
	link(rel="stylesheet", href="css/main.css")

body
	h1
		span.span1 k
		span.span2 u
		span.span3 r
		span.span4 v
		span.span5 e
		span.span6 s

	.client
		.client__form
			form#formPlayer
				input#playerName(type="text")

		.client__button
			button#readyButton Ready!

		.client__state
			span Ready?

		.client__orientation
			i#deviceorientation.fa.fa-arrow-up.fa-5x

	script(src="js/bower_components/socket.io-client/socket.io.js")
	script(src="js/player/main.js")